@import url(https://fonts.googleapis.com/css?family=Tinos:regular&display:swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
// @import "settings.scss";

//! Settings 
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Tinos", sans-serif;
   font-weight: 400;
   background-color: #FFF;
}

img {
   max-width: 100%;
   vertical-align: top
}

a {
   text-decoration: none;
}

.list-reset {
   list-style: none;
   margin: 0;
   padding: 0;
}

.btn-reset {
   border: none;
   padding: 0;
   background: transparent;
   cursor: pointer;
}

.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1168px;
}

.title {
   margin: 0;
   font-family: 'Tinos';
   font-style: normal;
   font-weight: 400;
   font-size: 54px;
   line-height: calc(54 / 62 * 100%);
}

.title-span {
   color: #D67E34;
}

.header {
   position: absolute;
   width: 100%;
   padding: 50px 0;
   align-items: center;
   z-index: 2;

   &__container {
      display: flex;
      // justify-content: space-between;
      align-items: center;
   }

   &__nav {}

   &__cart {
      margin-right: 16px;
   }

   &__right {
      display: flex;
      gap: 45px;
   }

   &__phone {
      position: relative;
      padding-left: 50px;
      display: flex;
      flex-direction: column;

      &::before {
         content: "";
         display: block;
         width: 1px;
         height: 51px;
         background-color: #fff;
         position: absolute;
         left: 0;
         top: 0;
      }

      a {
         position: relative;
         padding-left: 32px;
         font-family: 'Open Sans';
         font-style: normal;
         font-weight: 700;
         font-size: 18px;
         line-height: 25px;
         color: #FFFFFF;

         &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 23px;
            height: 23px;
            background-image: url("img/phone.svg");
         }

      }

      span {
         // display: inline-block;
         max-width: 154px;
         font-family: 'Open Sans';
         font-weight: 400;
         font-size: 14px;
         line-height: 19px;
         color: #fff;
      }
   }

   &__btn {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      padding: 14px 18px;
      color: #FFFFFF;
      background-color: #FF7400;
   }
}

.logo {
   &__img {}
}

.nav {
   display: flex;
   gap: 35px;
   margin-left: auto;
   color: #FFF;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: calc(14 / 19 * 100%);
   text-transform: uppercase;

   &__list {
      display: flex;
      gap: 20px;
   }

   &__item {}

   &__link {
      color: inherit;
   }
}

.list-reset {}

.cart {}

.btn-reset {}

.banner {
   padding-top: 320px;
   padding-bottom: 230px;
   // position: absolute;
   // top: 0;
   // left: 0;
   // width: 100%;
   // height: 100%;
   background-image: url("img/hero-image.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   &__container {}

   &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;

      max-width: 556px;
      text-align: center;
   }

   &__title {
      font-family: 'Tinos';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 57px;
      color: #D67E35;
      margin: 0;
      margin-bottom: 12px;

      span {
         display: block;
         font-weight: 400;
         font-size: 80px;
         line-height: 92px;
      }
   }

   &__subtitle {
      position: relative;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      margin-bottom: 21px;

      &::before {
         content: "";
         position: absolute;
         left: 24%;
         top: 50%;
         width: 61px;
         height: 2px;
         background-color: #fff;
      }

      &::after {
         content: "";
         display: block;
         position: absolute;
         right: 24%;
         top: 50%;
         width: 61px;
         height: 2px;
         background-color: #fff;
      }


   }

   &__btn {
      align-self: center;
      padding: 14px 18px;
      background-color: #FF7400;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
   }

   &__cards {}

   &__card {}

   &__card-img {}
}

.cards {
   margin-top: -100px;
   margin-bottom: 100px;
   color: #656363;

   &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 31px;
   }
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 0 0 349px;
   padding: 50px 30px 25px;
   box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
   background-color: #FFFFFF;

   @media (max-width: 992px) {
      flex: 0 0 50%;
   }

   @media (max-width: 450px) {
      flex: 0 0 100%;
   }

   &__img {}

   &__title {
      margin: 0;
      margin-bottom: 20px;
   }

   &__txt {
      margin: 0;
      min-width: 287px;
      text-align: center;
   }

}

// ! HISTORY 

.history {

   // .history__container

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 122px;
   }

   // .history__left

   &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   // .history__title

   &__title {
      margin-bottom: 32px;
   }

   // .history__txt

   &__txt {
      max-width: 444px;
      margin: 0;
      margin-bottom: 84px;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: calc(22 / 16 * 100%);
      text-align: center;
      color: #656363;
   }

   // .history__footer

   &__footer {
      display: flex;
      gap: 45px;

   }

   // .history__col

   &__col {
      text-align: center;
   }

   // .history__num

   &__num {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 40px;
      line-height: 54px;
      color: #BC9060;
   }

   &__txt-2 {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #000000;
   }

   // .history__right

   &__right {}


   // .history__order

   &__order {
      padding-top: 80px;
      padding-bottom: 104px;
      background-image: url("./img/bg-order.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   &__order-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .history__order-left

   &__order-left {
      flex: 0 0 601px;
   }

   // .history__order-title

   &__order-title {
      margin: 0;
      margin-bottom: 20px;
      font-family: 'Tinos';
      font-style: normal;
      font-weight: 400;
      font-size: 52px;
      line-height: 60px;
      color: #D67E34;
   }

   // .history__order-txt

   &__order-txt {
      margin: 0;
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #FFFFFF;
   }

   // .history__order-btn

   &__order-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 47px;
      padding: 0 18px;
      background-color: #FF7400;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
   }
}

// ! DISH

.dish {
   padding-top: 132px;
   padding-bottom: 150px;

   // .dish__container

   &__container {}

   // .dish__title

   &__title {
      text-align: center;
      margin-bottom: 139px;
   }

   // .dish__content

   &__content {
      display: flex;
      gap: 30px;
   }

   // .dish__img

   &__img {
      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .dish__right-content

   &__right-content {
      display: flex;
      flex-direction: column;
      row-gap: 29px;
   }

   // .dish__price

   &__price {
      display: flex;
      align-items: center;
      column-gap: 30px;
   }

   // .dish__price-img

   &__price-img {}

   // .dish__price-descr

   &__price-descr {}
}


// ! MENU


.menu {
   padding-top: 100px;
   padding-bottom: 226px;
   background-image: url("./img/bar.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   // .menu__container

   &__container {}

   // .menu__title

   &__title {
      text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 138px;
      text-align: center;
      color: #FFFFFF;
   }

   // .menu__cards

   &__cards {
      display: flex;
      gap: 30px;
   }

   // .menu__card

   &__card {
      padding: 80px 63px 29px;
      background-color: #fff;
   }

   // .menu__burger-name

   &__burger-name {}

   // .menu__burger-descr

   &__burger-descr {}

   // .menu__btn

   &__btn {}
}