@import url(https://fonts.googleapis.com/css?family=Tinos:regular&display:swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Cookie:regular);
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Tinos", sans-serif;
  font-weight: 400;
  background-color: #FFF;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1168px;
}

.title {
  margin: 0;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 87.0967741935%;
}

.title-span {
  color: #D67E34;
}

.header {
  position: absolute;
  width: 100%;
  padding: 50px 0;
  align-items: center;
  z-index: 2;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__cart {
  margin-right: 16px;
}
.header__right {
  display: flex;
  gap: 45px;
}
.header__phone {
  position: relative;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.header__phone::before {
  content: "";
  display: block;
  width: 1px;
  height: 51px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.header__phone a {
  position: relative;
  padding-left: 32px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.header__phone a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("img/phone.svg");
}
.header__phone span {
  max-width: 154px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}
.header__btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  padding: 14px 18px;
  color: #FFFFFF;
  background-color: #FF7400;
}

.nav {
  display: flex;
  gap: 35px;
  margin-left: auto;
  color: #FFF;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 73.6842105263%;
  text-transform: uppercase;
}
.nav__list {
  display: flex;
  gap: 20px;
}
.nav__link {
  color: inherit;
}

.banner {
  padding-top: 320px;
  padding-bottom: 230px;
  background-image: url("img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 556px;
  text-align: center;
}
.banner__title {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #D67E35;
  margin: 0;
  margin-bottom: 12px;
}
.banner__title span {
  display: block;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
}
.banner__subtitle {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 21px;
}
.banner__subtitle::before {
  content: "";
  position: absolute;
  left: 24%;
  top: 50%;
  width: 61px;
  height: 2px;
  background-color: #fff;
}
.banner__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  right: 24%;
  top: 50%;
  width: 61px;
  height: 2px;
  background-color: #fff;
}
.banner__btn {
  align-self: center;
  padding: 14px 18px;
  background-color: #FF7400;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.cards {
  margin-top: -100px;
  margin-bottom: 100px;
  color: #656363;
}
.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 349px;
  padding: 50px 30px 25px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}
@media (max-width: 992px) {
  .card {
    flex: 0 0 50%;
  }
}
@media (max-width: 450px) {
  .card {
    flex: 0 0 100%;
  }
}
.card__title {
  margin: 0;
  margin-bottom: 20px;
}
.card__txt {
  margin: 0;
  min-width: 287px;
  text-align: center;
}

.history__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 122px;
}
.history__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.history__title {
  margin-bottom: 32px;
}
.history__txt {
  max-width: 444px;
  margin: 0;
  margin-bottom: 84px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 137.5%;
  text-align: center;
  color: #656363;
}
.history__footer {
  display: flex;
  gap: 45px;
}
.history__col {
  text-align: center;
}
.history__num {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  color: #BC9060;
}
.history__txt-2 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.history__order {
  padding-top: 80px;
  padding-bottom: 104px;
  background-image: url("./img/bg-order.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.history__order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history__order-left {
  flex: 0 0 601px;
}
.history__order-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  color: #D67E34;
}
.history__order-txt {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
.history__order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 47px;
  padding: 0 18px;
  background-color: #FF7400;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.dish {
  padding-top: 132px;
  padding-bottom: 150px;
}
.dish__title {
  text-align: center;
  margin-bottom: 139px;
}
.dish__content {
  display: flex;
  gap: 30px;
}
.dish__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dish__right-content {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
}
.dish__price {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.menu {
  padding-top: 100px;
  padding-bottom: 226px;
  background-image: url("./img/bar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu__title {
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 138px;
  text-align: center;
  color: #FFFFFF;
}
.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.menu__card {
  position: relative;
  padding: 80px 63px 29px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
@media (max-width: 1145px) {
  .menu__card {
    flex: 0 0 75%;
  }
}
@media (max-width: 600px) {
  .menu__card {
    flex: 0 0 100%;
  }
}
.menu__card:first-child::before {
  content: "recommended";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 124px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #D67E34;
}
.menu__img {
  position: relative;
  margin-bottom: 22px;
}
.menu__img img {
  display: block;
  border-radius: 50%;
}
.menu__img::after {
  content: "420";
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #FFFFFF;
  border-radius: 50%;
  border: 7px solid #FFFFFF;
  width: 100px;
  height: 100px;
  background-color: #D67E34;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.menu__burger-name {
  margin: 0;
  margin-bottom: 17px;
  font-family: "Tinos";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}
.menu__burger-descr {
  max-width: 217px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.menu__btn {
  min-height: 50px;
  padding: 14px 68px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #D67E34;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.reviews {
  padding-top: 104px;
  padding-bottom: 139px;
  background-color: #E6E5E5;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews__txt {
  margin: 0;
  margin-bottom: 24px;
  max-width: 920px;
  text-align: center;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
.reviews__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__img {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}
.reviews__status {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 9px;
}
.reviews__name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.gallery {
  position: relative;
  padding-top: 101px;
  margin-bottom: 100px;
}
.gallery::before {
  content: "";
  display: block;
  width: 30px;
  height: 100px;
  background-color: #ff0000;
  position: absolute;
  left: 0;
  top: 26%;
}
.gallery::after {
  content: "";
  display: block;
  width: 30px;
  height: 100px;
  background-color: #ff0000;
  position: absolute;
  right: 0;
  top: 26%;
}
.gallery__title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}
.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.gallery__img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__img:nth-child(1) {
  grid-column: 2 span;
}
.gallery__img:nth-child(6) {
  grid-column: 2 span;
}

.cook {
  padding-bottom: 100px;
}
.cook__title {
  text-align: center;
  margin: 0;
  margin-bottom: 107px;
}
.cook__wrapper-img {
  display: flex;
  gap: 30px;
}

.footer__container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */